{{#each posts}}
<div>
    <h1>{{picName}}</h1>
    <img src="{{picPath}}" alt="{{picName}}" width="300">
    <p>{{content}}</p>
    <a href="http://localhost:3000/post/{{creatorId}}/details">See details</a>
</div>
{{/each}}